{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Room 2: First Decision
{% endblock %}

{% block content %}
Welcome to the second room.
<p>
Now, you are matched with a computer, your co-player for this round.
<p>
-- decision --

<p>
    Remember: Your payoff is jointly determined by <br>

         • whether a red or a green ball is drawn from an urn containing 20 red and 80 green balls, <br>
         • whether you choose A or B, and <br>
         • whether your co-player chooses A or B. <br>
    <p>

         If a green ball is drawn, and: <br>

•  you choose A, and your co-player chooses A: You receive US$ 1. Your co-player receives US$ 1.  <br>
•  you choose A, and your co-player chooses B: You receive US$ 1. Your co-player receives US$ 3.  <br>
•  you choose B, and your co-player chooses A: You receive US$ 3. Your co-player receives US$ 1. <br>
•  you choose B, and your co-player chooses B: You receive nothing (US$ 0). Your co-player receives nothing (US$ 0).  <br>
 <p>
If a red ball is drawn, you and your co-player both receive nothing (US$ 0). <br>
    <p>
    On average, a computer chooses A in about 60 out of 100 cases and B in about 40 out of 100 cases. <br>
<p>
    {% next_button %}

{% endblock %}
