{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

Thank you for participating.  <br>
<p>
In this task you are asked to make two decisions. <br>
For each decision, you will be matched with a co-player.  <br>
If you read these rules carefully and choose wisely, you can earn up to US$ 3.50. <br>
<p>
Completing this task will take about 10 minutes and it is important that you pay close attention during this time to not spoil the task for you and the other participants. <br>
<p>
The task has four parts that we call “rooms”. <br>
<p>
    <img width="70%" length="70%" src="{% static "chicken/Room_diagram.jpg" %}" />

    In the first room, you take a small quiz on the rules.  <br>
In the second room, you make the first decision where you are matched with a co-player and we will ask you some questions.  <br>
You may have to wait for a minute in this room until your co-player has finished and you can know the outcome.  <br>
In the third room, you make the second decision where you are matched with a different co-player.  <br>
Again, you may have to wait for a minute in this room until your co-player has finished and you can know the outcome.  <br>
Finally, in the fourth room, you are asked to fill out a short survey. <br>

<p>
    Note that only one of the two decisions from rooms 2 and 3 will be selected for payment at random. As it is unknown which of the two decisions count, it is important to pay equally close attention to both.

    {% next_button %}
{% endblock %}


