{% load otree static %}

<div class="card bg-light">
    <div class="card-body">
        <p>
            Remember: Your payoff is jointly determined by:
        </p>
        <ul>
            <li>whether a red or a green ball is drawn from an urn containing 20 red and 80 green balls,</li>
            <li>whether you choose A or B, and</li>
            <li>whether your co-player chooses A or B.</li>
        </ul>

        <p>
            If a green ball is drawn, and:
        </p>
        <ul>
            <li>you choose A, and your co-player chooses A: You receive US$ 1. Your co-player receives US$ 1.</li>
            <li>you choose A, and your co-player chooses B: You receive US$ 1. Your co-player receives US$ 3.</li>
            <li>you choose B, and your co-player chooses A: You receive US$ 3. Your co-player receives US$ 1.</li>
            <li>you choose B, and your co-player chooses B: You receive nothing (US$ 0). Your co-player receives nothing (US$ 0).</li>
        </ul>
        <p>
            If a red ball is drawn, you and your co-player both receive nothing (US$ 0).
        </p>

        <p>
            {% if player.treatment == "human" %}
                Based on previous sessions of this experiment, a co-player chooses A in about 60 out of 100 cases and B in about 40 out of 100 cases.
            {% else %}
                On average, a computer chooses A in about 60 out of 100 cases and B in about 40 out of 100 cases.
            {% endif %}
        </p>
    </div>
</div>