{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if player.round_number == 1 %}
        Room 2: First Decision
    {% else %}
        Room 3: Second Decision
    {% endif %}
{% endblock %}

{% block content %}
    {% if player.round_number == 1 %}
        <p><img width="70%" src="{% static 'zero_shared/room_d1.png' %}"></p>
        <p>Welcome to the second room.</p>
    {% else %}
        <p><img width="70%" src="{% static 'zero_shared/room_d2.png' %}"></p>
        <p>Welcome to the third room. Note: In this round, your preferred option is always directly implemented.</p>
    {% endif %}

    <p>
        {% if player.round_number == 1 %}
            {% if player.treatment == 'human' %}
                You are now matched with another participant, your co-player for this round.
            {% else %}
                You are now matched with a computer, your co-player for this round.
            {% endif %}
        {% else %}
            {% if player.treatment == 'human' %}
                Now, you are matched with another participant, your co-player for this round.
            {% else %}
                Now, you are matched with a computer, your co-player for this round.
            {% endif %}
        {% endif %}
    </p>

    {% if player.round_number == 1 %}
        {% formfield player.choose_b with label="Which option do you prefer?" %}
    {% else %}
        {% formfield player.choose_b with label="Which option do you choose?" %}
    {% endif %}

    {% next_button %}

    {% include "zero_intro/ShortInstructions.html" %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('.otree-timer').hide()
        $(function () {
            // Hide the timer until only 'minutes' minutes are left
            var seconds = {{ Constants.time_left_warning }};
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                diff = event.offset.totalSeconds;
                thediv = $('div.otree-timer');
                if (diff < seconds) {
                    thediv.show()
                }
            });
        });
    </script>
{% endblock %}